/* Header */
header{
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header ul li{
    display: inline;
    margin: 0 10px;
}
/*Main*/
main{
    background-color: #F5F5F5;
}

/*Group*/
group img{
    float: left;
    max-width: 50%;
    max-height: 10%;
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: #E9E9E9;
}
footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li{
    display: inline;
    margin: 0 10px;
}

/* General */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    color: #142B4D;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

/*Links*/
a {
    text-decoration: none;
    color: black;
}

/*List items*/
li {
    list-style-type: none;
}